<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%>
<body>
    <<%- include('../partials/nav.ejs')  %>

        <div class="container">
            <h2 class="center-align">About Us</h2>
            <p class="center-align">this is war</p>
            <p class="center-align">time to buckle up</p>
            <p class="center-align">Be ready for the rollercoaster</p>
   
        </div>
        <%- include('../partials/footer.ejs')%>
</body>
</html>