<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%>
<body>
    <%- include('../partials/nav.ejs')  %>

        <div class="container">
            <div class="row"></div>
           <form action="/blogs" method="POST">
                <div class="row">
                 <div class="input-field col s12">
                <label for="title">Blog Title:</label>
                <input type="text" id ="title"  name="title" required>
                </div>
                <div class="row">
                <div class="input-field col s12">
                <label for="snippet">Blog snippet:</label>
               <input type="text" id ="snippet" name="snippet" required>
               </div>
               </div>
               <div class="row">
                <div class="input-field col s12">
               <label for="body">Blog body:</label>
               <textarea id="body" name="body"  class="materialize-textarea" required></textarea>
               </div>
               </div>
               <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
               </form>
            
   
        </div>
        <%- include('../partials/footer.ejs')%>
</body>
</html>