<nav>
    <div class="nav-wrapper">
    <div class="col s12">
        <a href="/" class="brand-logo">logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/" class="breadcrumb">Blogs</a></li>
        <li><a href="/about" class="breadcrumb">About</a></li>
        <li><a href="/blogs/create" class="breadcrumb">Create New Blog</a></li>
        </ul>
    </div> 
</nav>

